.body-background{
    background-color: gray;
}

.h-centralize{
    text-align: center;
}

.label-properties{
    font-size: 28px;
    margin-left: 5%;
}

.input-properties{
    width: 90%;
    margin-left: 5%;
    font-size: 22px;
    border-radius: 5px;
}

.div-inline{
    display: inline;
}

.div-inline-block{
    display: inline-block;
}

.div-grid{
    width: 100%;
    display: grid;
    margin-top: 2%;
    border-style: dashed;
    border-width: 2px;
}

.div-inline-grid{
    display: inline-grid;
    grid-template-columns: auto auto;
    margin: 5%;

}

.input-properties-button{
    margin-left: 25%;
    margin-top: 5%;

    width: 195px;
    height: 30px;

    border-radius: 5px;
    border-color: azure;
    background-color: gray;

    color: black;
    font-weight: bold;
}

.input-properties-button-update-delete{
    width: 20px;
    margin: auto auto;
    background-color: cadetblue;
}

.table-td-body-row{
    text-align: center;
}
